*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: monospace, Arial, sans-serif;
}

.center {
  margin: 60px auto 40px auto;
  width: 560px;
  justify-items: center;
  text-align: center;
}

#container,
#container div {
  user-select: none;
  -webkit-user-drag: none;
}

#container {
  border: 2px solid black;
  width: 560px;
  height: 560px;
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#container div {
  border: 1px solid grey;
}

#nRowsButton {
  background-color: rgb(18, 18, 180);
  font-size: 25px;
  color: white;
}
