*,
*::before,
*::after {
  box-sizing: border-box;
}

#container{
    border: 1px solid black;
    height: 100px;
    width: 500px;
    margin: 360px auto;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#container div{
    border: 1px solid grey;
    height: 50px;
    width: 50px;
}