*,
*::before,
*::after {
  box-sizing: border-box;
}

#container{
    border: 1px solid black;
    max-width: 90%;
    margin: 360px auto;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

#container div{
    border: 1px solid grey;
    height: 50px;
    min-width: 50px;
}